*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;  
}
:root{
    --fondo-color:aliceblue;
    --titu-color:black;
    --text-color:rgb(126, 73, 73);
    --subt-color:darkgreen;
    --text-color-hover:yellow;
    --text-color-active:cyan;
    --text-diseño-overflow: italic;
}
@keyframes slidein{
    from{
        margin-left:100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}
body{
    background-color:var(--fondo-color);
    
}
header{
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
  
    align-content: center;
    background-color: black;    
}
.cabeza{
    padding: 20px;
}
nav{
    text-align: center; 
}
.logo__img{
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
    height: 100px;
}
.menu__opciones{   
    border-right: 25px;
    padding: 20px;
    border-radius: 15px;
    color:aliceblue;
    font-size: 35px;
    font-family: cursive;
    font-weight:lighter;
    font-style:var(--text-diseño);
    text-decoration: none;     
}
.menu__opciones:focus{
    color: darkgreen;
}
.menu__opciones:hover{
    color:var(--text-color-hover);
}
.menu__opciones:active{
    background-color:var(--text-color-active);
}
.section__inicio{
    
    background-image: url(../img/fondo2.jpg);
    background-repeat:no-repeat;
    background-position: 100% 20%;
    background-size: 1430px 760px;

}
.section__inicio__titulo{
    display: flex;
    justify-content:left;
    height: 30px;
    background-color:aquamarine;
    color:black;
    padding: 0px 15px;
    font-size: 30px;
    font-style:var(--text-diseño);
}
.section__inicio__texto{
    text-align: center;
}
.section__inicio__texto1{
    display: flex;
    justify-content: center;
    color:white;
    padding: 15px;
    font-size: 65px;
    font-style:var(--text-diseño);
    margin: -150px 0px 0px 160px;
}
.section__titulo{
    display: flex;
    justify-content:left;
}
.section__titulo__img1{
    width: 450px;
    height: 450px;
    padding-top: 0%;
    margin: -96px 0px 15px 500px;
}
.section__descarga{
    display: flex;
    justify-content:center;

}
.section__descarga__img2{
   width: 20%;
}
.contenido__titulo{
    background-color:aquamarine;
    color:var(--titu-color);
    font-size: 50px;
    font-family: cursive;
    font-weight:lighter;
    font-style:var(--text-diseño);
    text-decoration: none;
    padding: 0px 15px;
}
.contenido__img{
    width: 60%;
    margin: 10px;
    border: 1px solid color(srgb red green blue);
    padding: 5px;
    border-radius: 10%;
}
.contenido__subtitulo{
    color:var(--subt-color);
    padding: 13px;
    font-size: 20px;
    font-style:var(--text-diseño);
}
.contenido__texto{
    animation-name: slidein;
    animation-duration: 3s;
    color:var(--text-color);
    padding: 13px;
    font-size: 20px;
    font-style:var(--text-diseño);
}
.contenido__contacto{
    text-decoration: none;
}

.abajo{
    background-color: black;
}
.abajo__subtitulo{
    color: aliceblue;
    font-size: 20px;
    font-style:var(--text-diseño);
}
.abajo__img{
    

}
.button{
    background-color: aquamarine;
}
.coment{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
.coment label{
    margin-bottom: 5px;
}
.coment input[type="text"],
.coment textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
